<!--Header files-->
<div th:insert="~{header}"></div>

<body>
<!--Sidebar container-->

<div class="pusher">
    <div th:insert="~{nav-bar}"></div>

    <div class="ui raised segment">

        <div class="ui breadcrumb">
            <a class="section">Home</a>
            <i class="right chevron icon divider"></i>
            <a class="section">Registration</a>
            <i class="right arrow icon divider"></i>
            <div class="active section">Personal Information</div>
        </div>
    </div>


    <!--Page Content-->
    <div class="ui raised segment">
        <h4 class="ui header">
            <i class="settings icon"></i>
            <div class="content">
                Manage Countries
                <div class="sub header">Add / Edit Countries</div>
            </div>
        </h4>

        <table id="myTable" class="ui celled table" style="width:100%">
            <thead>
            <tr>
                <th>Country Code</th>
                <th>Country Name</th>
                <th>ISO Code</th>
                <th>Status</th>
                <th>Created Date / Time</th>
                <th>Created By</th>
                <th></th>
            </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
            <tr>
                <th>Country Code</th>
                <th>Country Name</th>
                <th>ISO Code</th>
                <th>Status</th>
                <th>Created Date / Time</th>
                <th>Created By</th>
                <th></th>
            </tr>
            </tfoot>
        </table>
    </div>
    <!--End of Page Content-->

    <div th:insert="~{footer}"></div>

</div>
<script>
    $(document)
        .ready(function () {
            $("#myTable").DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "type": 'post',
                        "url": "country/data",
                        "dataType": 'json',
                        "contentType": "application/json",
                        "data": function (d) {
                            return JSON.stringify(d);
                        },
                    },
                    columnDefs: [
                        {  targets: 6,
                            render: function (data, type, row, meta) {
                                return '<input type="button" class="name" id=n-"' + meta.row + '" value="Name"/><input type="button" class="salary" id=s-"' + meta.row + '" value="Salary"/>';
                            }

                        }
                    ],
                    select: true
                });
        });

    $('#example tbody').on('click', '.name', function () {
        var id = $(this).attr("id").match(/\d+/)[0];
        var data = $('#example').DataTable().row( id ).data();
        console.log(data[0]);
    });
</script>
</body>
</html>