<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">

<div class="ui stackable menu">
    <div class="item">
        <img th:src="@{/assets/images/logo.png}" style="width: 80px">
    </div>
    <a class="item" th:href="@{/}">
        <i class="home icon"></i>
        Home
    </a>

    <a class="item" th:href="@{/channelling}">
        <i class="hospital icon"></i>
        Channelling
    </a>

    <div sec:authorize="isAuthenticated()" th:remove="tag">
        <div class="ui dropdown item">
            <i class="cogs icon"></i>
            Administration
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" th:href = "@{/country}">Country</a>
                <a class="item" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>

    <div class="right menu">

        <div class="ui category search item">
            <div class="ui transparent icon input">
                <input placeholder="Search..." type="text">
                <i class="search link icon"></i>
            </div>
        </div>


        <div sec:authorize="isAuthenticated()" th:remove="tag">
            <div class="ui dropdown item">
                <i class="user icon"></i>
                <div sec:authentication="name"></div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item">User Profile</a>
                    <a class="item" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>

        <div sec:authorize="isAnonymous()" th:remove="tag">
            <a class="item" th:href="@{/channelling}">
                <i class="sign in icon"></i>
                Login
            </a>

            <a class="item" th:href="@{/signin}">Sign-in</a>
        </div>

        <div class="ui dropdown icon item">
            <i class="wrench icon"></i>
            <div class="menu">
                <a class="item">English</a>
                <a class="item">Sinhala</a>
            </div>
        </div>
    </div>
</div>
